* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1117;
    color: #FFFFFF;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    font-size: 80px;
    text-align: center;
}